@import "materialize";
@import "flash";

body {
  color: rgb(226, 226, 226);
  background-color: rgb(19, 18, 18);
}


.input-field {
  color: rgb(226, 226, 226);
}

.p2 {
  color: rgb(226, 226, 226);
}